# Data Preprocessing

In [121]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

## import dataset

dataset = pd.read_csv("train.csv")
train_dataset = pd.DataFrame(dataset)

dataset = pd.read_csv("test.csv")
test_dataset = pd.DataFrame(dataset)

result = pd.read_csv("sample_submission.csv") 
y_test = pd.DataFrame(result)
y_test = y_test.drop(['Id'], axis=1)



y_train = train_dataset['SalePrice']
x_train = train_dataset.drop(['SalePrice', 'Id'], axis=1)
x_test = test_dataset.drop(['Id'], axis=1)


display(x_test)

## encoode dataset
encoder = LabelEncoder()


for i in x_train.columns:
    if(type(x_train.at[0, i]) == str or x_train[i].hasnans):
        encoded_data = encoder.fit_transform(x_train[i])
        x_train[i] = encoded_data

for i in x_test.columns:
    if(type(x_test.at[0, i]) == str or x_test[i].hasnans):
        encoded_data = encoder.fit_transform(x_test[i])
        x_test[i] = encoded_data



display(x_test)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,2,56,11622,1,2,3,3,0,4,...,120,0,2,2,3,0,6,2010,8,4
1,20,3,57,14267,1,2,0,3,0,0,...,0,0,2,4,0,12500,6,2010,8,4
2,60,3,50,13830,1,2,0,3,0,4,...,0,0,2,2,3,0,3,2010,8,4
3,60,3,54,9978,1,2,0,3,0,4,...,0,0,2,4,3,0,6,2010,8,4
4,120,3,19,5005,1,2,0,1,0,4,...,144,0,2,4,3,0,1,2010,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,4,0,1936,1,2,3,3,0,4,...,0,0,2,4,3,0,6,2006,8,4
1455,160,4,0,1894,1,2,3,3,0,4,...,0,0,2,4,3,0,4,2006,8,0
1456,20,3,112,20000,1,2,3,3,0,4,...,0,0,2,4,3,0,9,2006,8,0
1457,85,3,38,10441,1,2,3,3,0,4,...,0,0,2,2,2,700,7,2006,8,4
1458,60,3,50,9627,1,2,3,3,0,4,...,0,0,2,4,3,0,11,2006,8,4

# Decision Tree

In [160]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

price_classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 3, min_samples_split = 6)
price_classifier.fit(x_train, y_train)

predicted_price = price_classifier.predict(x_test)

id = np.arange(1461, 2920)

id = pd.DataFrame(id, columns = ['Id'])
sale_price = pd.DataFrame(predicted_price, columns = ['SalePrice'])
result = pd.concat([id, sale_price], axis=1)

result.to_csv('decisionTree.csv', index=False)
display(result)

        Id  SalePrice
0     1461      88000
1     1462      88000
2     1463     200000
3     1464     193000
4     1465     161000
...    ...        ...
1454  2915     115000
1455  2916      88000
1456  2917     129900
1457  2918      85500
1458  2919     222500

[1459 rows x 2 columns]

# Linear Regression

In [162]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV


## model training by GridSearchCV

model = LinearRegression()

grid_params = {'fit_intercept':[True,False],
               'copy_X':[True, False],
               'positive':[True, False]}

grid = GridSearchCV(model, grid_params, cv = 5)
grid.fit(x_train, y_train)
predicted_price = grid.predict(x_test)


## Generate csv

id = np.arange(1461, 2920)

id = pd.DataFrame(id, columns = ['Id'])
sale_price = pd.DataFrame(predicted_price, columns = ['SalePrice'])
result = pd.concat([id, sale_price], axis=1)

result.to_csv('linearRegression.csv', index=False)
display(result)

        Id      SalePrice
0     1461  183007.703143
1     1462  233232.867448
2     1463  245100.623771
3     1464  261526.220393
4     1465  266492.836725
...    ...            ...
1454  2915  149709.643939
1455  2916  136070.175788
1456  2917  236567.347763
1457  2918  197236.877936
1458  2919  317232.358119

[1459 rows x 2 columns]